/*===========
Variables
=============*/

$bodyFont:  "proxima-nova", Helvetica, Arial, sans-serif;
$logoFont: "trend_rough_sansone",Helvetica, Arial, sans-serif;

$baseFontSize: 14px;



@font-face {
    font-family: 'trend_rough_sansone';
    src: url('fonts/TrendRoughSansOne-webfont.eot');
    src: url('fonts/TrendRoughSansOne-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/TrendRoughSansOne-webfont.woff2') format('woff2'),
         url('fonts/TrendRoughSansOne-webfont.woff') format('woff'),
         url('fonts/TrendRoughSansOne-webfont.ttf') format('truetype'),
         url('fonts/TrendRoughSansOne-webfont.svg#trend_rough_sansone') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?dqbp2w');
  src:url('fonts/icomoon.eot?#iefixdqbp2w') format('embedded-opentype'),
    url('fonts/icomoon.woff?dqbp2w') format('woff'),
    url('fonts/icomoon.ttf?dqbp2w') format('truetype'),
    url('fonts/icomoon.svg?dqbp2w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class
^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\e600";
}
.icon-facebook:before {
  content: "\e601";
}
.icon-googleplus:before {
  content: "\e602";
}
.icon-instagram:before {
  content: "\e603";
}

nav,body, p {
   font-family: $bodyFont; 
}

.logo {
    font-family: $logoFont;
    font-size: 40px;
      span {
        font-size: $baseFontSize - 1px;
        font-weight: 700;
        font-family: $logoFont;
        letter-spacing: 0.250em;
        text-transform: uppercase;
      }
}