@import 'colors';
@import 'fonts';

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?mpv0g3');
  src:url('fonts/icomoon.eot?#iefixmpv0g3') format('embedded-opentype'),
    url('fonts/icomoon.woff?mpv0g3') format('woff'),
    url('fonts/icomoon.ttf?mpv0g3') format('truetype'),
    url('fonts/icomoon.svg?mpv0g3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google-plus:before {
  content: "\e607";
}

.icon-social-facebook:before {
  content: "\e606";
  font-size: $baseFontSize + 14px;
  margin-top: -5px;
}

.icon-chevron-small-down:before {
  content: "\e600";
}

.icon-chevron-thin-down:before {
  content: "\e601";
}

.icon-chevron-with-circle-down:before {
  content: "\e602";
}

.icon-behance:before {
  content: "\e603";
}

.icon-instagram:before {
  content: "\e604";
}

.icon-twitter:before {
  content: "\e605";
}



.downArrow {
  position: absolute;
  display: inline-block;
  color: $baseBlack;
  font-size: $baseFontSize + 20px;
  left: 50%;
  margin-left: -18px;
  top: 38px;
  cursor: pointer;
  -webkit-transition: all .2s linear; 
  -o-transition: all .2s linear; 
  -moz-transition: all .2s linear; 
  transition: all .2s linear;
  z-index: 9999;
  text-decoration: none;
    &:hover {
      margin-top: -3px;
    }
}
