

.hours {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	float: left;
	width: 50%;
	text-align: center;
	padding-bottom: 50px;
		.date-time {
			position: relative;
			display: inline-block;
			margin-top:20px;
			left: 0;
			vertical-align: middle;
			width: 380px;
			p,
			.openStatement,
			.day {
				position: relative;
				display: inline-block;
			}
			p,
			.day {
 				left: -3px;
 				top: 30px;
			}
			.day {
				left: 5px;
			}
			.openStatement {
				top: -50px;
				left: 5px;
			}
			.time {
				#suffix {
					 margin-left: -30px;
				}
			}
		}

}

@media screen and (max-width: 1100px) {
	.hours {
	width: 100%;
	text-align: center;
	padding-bottom: 0px;
	padding-top: 0px;
		.date-time {
			margin-top:0px;
			}
		}
}

