.videoHero {
	width: 100%;
	max-height: 650px;
	overflow: hidden;
	position: relative;
	padding: 0;
}

.videoLogo {
		position: absolute;
		margin: 0 auto;
		width: 393px;
		top: 50%;
		left: 50%;
		margin-top: -65px;
		margin-left: -196px;
		text-decoration: none;
		color: $baseWhite;
		hr {
	        margin: -5px auto 0 auto;
	        width: 93%;
	        border: 0.02em solid $baseWhite; 
      	}
      	span {
	        display: block;
	        margin-top: 10px;
      	}
	}

video {
	width: 100%;
	position: relative;
	z-index: -1;
}